{% extends 'layout.html' %}
{% block content%}
<div class="content-section">
    <div class="filter">
        <h2>Filter</h2>
        
        <p>Filter according to category.</p>

        <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Category</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#home">Single Room</a>
            <a href="#about">Bed Sitter</a>
            <a href="#contact">One Bedroom</a>
            <a href="#contact">Two Bedroom</a>
            <a href="#contact">Three Bedroom</a>
        </div>
        </div>

     </div>
     <div class="home">
        {% for data in imagesList%}
        {% if not data.is_booked %}
        <a href="{{ url_for('houseDetails', house_id = data.id) }}"> 
            <div class="upload">
            <div class="image">
                {% for img in data.images %}
                <img src="{{url_for('static',filename = 'photos/'+img.image)}}" width="276" height="200" alt="">
                {% endfor %}
            </div>
            <div class="details">
                <h4>Ksh {{data.price}}</h4>
                <h6>Vacant {{data.category}} | {{data.estate}}  </h6>
            </div>

            </div>
        </a>
        {% endif %}
        {% endfor %}
    </div>
 </div>
{% endblock %}