{% extends 'layout.html' %}
{% block content%}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <div>
                    <p>This is a list of the files you just uploaded, click on them to load/download them</p>
                  
                  
                   <li>{{house.plotname}}</li>
                   <img src="{{images}}" alt="">
                  
                  
                 </div>
            </div>
        </div>
    </div>
{% endblock %}