{% extends 'layout.html' %}
{% block content%}
<div class="content-section">
    <div class="filter">
        <h2>Filter</h2>
        
        <p>Filter according to category.</p>

        <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Category</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="#home">Single Room</a>
            <a href="#about">Bed Sitter</a>
            <a href="#contact">One Bedroom</a>
            <a href="#contact">Two Bedroom</a>
            <a href="#contact">Three Bedroom</a>
        </div>
        </div>

     </div>
     <div class="home">
        {% for data in result%}
        <a href="{{ url_for('houseDetails', house_id = data.id) }}"> <div class="upload">
            <div class="image">
                <img src="{{url_for('static',filename = 'photos/'+data.image)}}" width="220" height="200" alt="">
            </div>
            <div class="details">
                <h2>Ksh {{data.price}}</h2>
                <h6>Vacant {{data.category}} | {{data.estate}}  </h6>
            </div>

            </div>
        </a>
        {% endfor %}
    </div>
 </div>
{% endblock %}