
{% extends 'layout2.html' %}
{% block content %}
    <div class="login-card">
        {% include 'includes/_message.html' %}
        <img src="static/photos/img/20035633.jpg" class="profile-img-card" style="background-image:url(&quot;static/photos/img/avatar_2x.png&quot;);">
        <p class="profile-name-card"> Master Agent </p>
        <form method="POST" action="">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {% if form.email.errors %}
                    {{form.email(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.email(class = "form-control form-control-lg", placeholder="Email")}}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {% if form.password.errors %}
                    {{form.password(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.password(class = "form-control form-control-lg", placeholder="Password")}}
                    {% endif %}
                </div>

                <div class="form-check">
                    {{ form.remember(class="form-ckeck-input")}}
                    {{ form.remember.label(class="form-ckeck-label")}}
                </div>

                <div class="form-group">
                    {{form.submit(class="btn btn-primary btn-block btn-lg btn-signin", style="background-color:rgb(71,234,244);")}}
                </div>
        </form>

             <small class="text-muted ml-2">
                <a href="{{ url_for('request_reset')}}", class="forgot-password" style="color:rgb(25,32,204);">Forgot password?</a>
            </small>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Don't have an accout? <a class="ml-2" href="{{url_for('register')}}">Sign up now</a>
                </small>
        
            </div>
{% endblock %}