
{% extends 'layout2.html' %}
{% block content%}
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder" style="background-image:url(&quot;static/photos/img/IMG_169337537805797.jpeg&quot;);"></div>
            <form method="POST" action="">
                    {{form.hidden_tag()}}
                    {% include 'includes/_message.html' %}
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                <div class="form-group">
                    {% if form.firstName.errors %}
                    {{form.firstName(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.firstName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.firstName(class = "form-control form-control-lg", placeholder="First name")}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.lastName.errors %}
                    {{form.lastName(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.lastName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.lastName(class = "form-control form-control-lg", placeholder="Last name")}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.email.errors %}
                    {{form.email(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.email(class = "form-control form-control-lg", placeholder="Email")}}
                    {% endif %}
                    </div> 
                    
                <div class="form-group">
                    {% if form.phoneNumber.errors %}
                    {{form.phoneNumber(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.phoneNumber.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.phoneNumber(class = "form-control form-control-lg", placeholder="Phone number")}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.password.errors %}
                    {{form.password(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.password(class = "form-control form-control-lg", placeholder="Password")}}
                    {% endif %}
                </div>

                <div class="form-group">
                    {% if form.confirm_password.errors %}
                    {{form.confirm_password(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{form.confirm_password(class = "form-control form-control-lg", placeholder="Confirm password")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.submit(class="btn btn-primary btn-block", style="background-color:rgb(71,234,244);")}}
                </div>
                <div class="border-top pt-3"><a href="{{url_for('login')}}" class="already" style="color:rgb(45,45,220);">You already have an account? Login here.</a></div>
            </form>
        </div>
    </div>
{% endblock %}
