<nav class="navbar fixed-top">
<div class="collapse navbar-collapse" id='cssmenu'>
<ul>
   <li class='al active'><a href='{{url_for("home")}}'>Master Agent </a></li>
   <li class="al"><a href='{{url_for("home")}}'>Home</a></li>
   <li class="al"><a href="{{url_for('about')}}">About</a></li>
   <li class="al"><a href="{{url_for('profile')}}">Profile</a></li>     
   <li class="al"><a href="#">Map</a></li> 
   {% if current_user.is_staff %}
   <li class="al"><a href="{{url_for('update')}}">Update</a></li>
   {% endif %}         
        {% if current_user.is_authenticated %}
        <li class="right">
            <a class="nav-link" href="{{url_for('logout')}}">Logout<span class="sr-only"></span></a>
        </li>
        
        <li class="right nav-item">
            <a href="{{url_for('profile')}}">Welcome {{current_user.firstName}}</a>
        </li>

        {% else %}
        <li class="right nav-item">
          <a class="nav-link" href="{{url_for('login')}}">Login<span class="sr-only"></span></a>
        </li>
        <li class="right nav-item">
          <a class="nav-link" href="{{url_for('register')}}">Sign up<span class="sr-only"></span></a>
        </li>
        {% endif %}
</ul>
</div>
</nav>

